<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div>
    <h2>Update</h2>
</div>
<div>
    <form th:action="@{/room/update}" method="post" th:object="${room}">
        <div class="form-group">
            <input type="hidden" class="form-control" th:field="*{id}"/>
        </div>
        <label for="name" style="margin-left: 20px">Name: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <input id="name" th:field="*{name}"  placeholder="Student Name" class="form-control" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        </div>
        <label for="phoneNumber" style="margin-left: 20px">Phone: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <input id="phoneNumber" th:field="*{phoneNumber}"  placeholder="Phone" class="form-control" />
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span>
        </div>
        <label for="male">Sex: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <div class="form-line">
                <input type="radio" th:field="*{sex}" th:value="true" id="male" th:selected="*{sex}" style="margin: unset;" th:tabindex="7">
                <label th:text="Male" th:for="male"/>
                <input type="radio" th:field="*{sex}" th:value="false" id="female" th:selected="*{!sex}" style="margin: unset;">
                <label th:text="Female" th:for="female"/>
            </div>
        </div>
        <label for="firstDay" style="margin-left: 20px">firstDay: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <input type="date" id="firstDay" th:field="*{firstDay}" placeholder="Birthdate" class="form-control"/>
            <span th:if="${#fields.hasErrors('firstDay')}" th:errors="*{firstDay}" style="color: red"></span>
        </div>
        <label for="payName" style="margin-left: 20px">payName Name: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <select th:field="*{payName}"   id="payName" style="margin-left: 20px">
                <option value=""></option>
                <option th:each="payName : ${pays}"
                        th:value="${payName.payId}"
                        th:text="${payName.payName}"
                        th:selected="${payName.payId.equals(room.payName.payId)}" />
            </select>
            <span th:if="${#fields.hasErrors('payName')}" th:errors="*{payName}" style="color: red"></span>
        </div>
        <label for="note" style="margin-left: 20px">note: <span style="color: red;"> *</span></label>
        <div class="form-group">
            <input id="note" th:field="*{note}"  placeholder="note " class="form-control" />
            <span th:if="${#fields.hasErrors('note')}" th:errors="*{note}" style="color: red"></span>
        </div>
        <button type="submit" style="margin-left: 30px"> Update</button>
        <a th:href="@{/room/list}" style="margin-left: 30px"> Back</a>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>