<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> List Music</h3>
<p>
    <a th:href="@{/create}">
        Add new music
    </a>
</p>

<table border="1" >
    <thead>
    <tr>
        <th>Count</th>
        <th>Id</th>
        <th>TEN</th>
        <th>Nghe si</th>
        <th>The loai</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each="m,interStar:${music}" th:action="@{/}">
        <td th:text="${interStar.count}"></td>
        <td th:text="${m.id}"></td>
        <td th:text="${m.name}"></td>
        <td th:text="${m.singer}"></td>
        <td th:text="${m.type}"></td>

        <td><a th:href="@{/{id}/edit(id=${m.id})}">edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>