<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <h1>Login to web</h1>
  <h2 style="color: red" th:if="${#request.getParameter('error') == 'true'}">Sai username hoặc password</h2>
  <form th:action="@{/doLogin}" method="post">
    <table>
      <tr>
        <td>Username</td>
        <td><input type="text" name="user"></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="pass"></td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Login">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>