body {
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse; /*gộp lại 1 vạch bảng*/
}
td , th {
    padding: 20px;
    border: 1px solid black; /*kẻ bảng*/

}
th {
    font-family: 'Patua One', cursive;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 20px;
    background-color: #d61b06;
    border-color: white; /*đổi màu đường kẻ bảng*/
}
td{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom:1px solid #e0e0e0; /*đổi màu đường kẻ dưới của bảng*/
    text-align: center;
}
td:hover{
    background: red;
}

