<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Danh sách sách</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div class="container mt-3">
    <h2>Danh sách sách</h2>
    <a class="btn btn-primary mb-3" th:href="@{/books/add}">Thêm mới sách</a>
    <table class="table">
        <thead>
        <tr>
            <th>Mã sách</th>
            <th>Tên sách</th>
            <th>Tác giả</th>
            <th>Mô tả</th>
            <th>Số lượng</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="book : ${books}">
            <tr>
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.description}"></td>
                <td th:text="${book.quantity}"></td>
                <td>
                    <a class="btn btn-secondary btn-sm" th:href="@{/books/edit/{id}(id=${book.id})}">Sửa</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/books/delete/{id}(id=${book.id})}">Xóa</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>

</html>